
<div data-ng-init="getAccount()">
    Account Details for {{ account.displayName }}
</div>
<div>
    Auth Token: {{ auth.token }}
</div>
<div>
    My Page?: {{ myDetail }}
</div>
<div>
    Am I Following?: {{ account.amIfollowing }}
</div>
<div>
    Auth Account: {{ auth.account }}
</div>

<form id="login-form">
    <div class="form-group">
        <h2>Twtr Page for @{{ account.handle }}</h2>
        <button id="follow" class="btn" ng-click="startFollowing()" ng-disabled="myDetail" ng-show="!myDetail && !account.amIfollowing">Follow</button>
        <div id="follow-message" ng-show="!myDetail && account.amIfollowing"><em>You are following {{ account.displayName }}</em> </div>

        <br /> <br />
        <div class="control-group">
            <label for="userEmail" class="control-label">Email Address</label>
            <div class="controls">
                <input id="userEmail" class="form-control"
                       type="text" ng-model="account.emailAddress" ng-readonly="!myDetail" />
            </div>
        </div>

        <div class="control-group">
            <label for="userDisplayName" class="control-label">Display Name</label>
            <div class="controls">
                <input id="userDisplayName" class="form-control"
                       type="text" ng-model="account.displayName" ng-readonly="!myDetail" />
            </div>
        </div>
        <br/>
        <button id="save-account" class="btn btn-primary" ng-click="saveDetails()" type="submit" ng-disabled="!myDetail">Save Changes</button>
    </div>
</form>

<!--<div class="container well">-->
    <!--<button id="get-tweets" class="btn" ng-click="getTweets()">get tweets</button>-->
    <!--<br />-->
    <!--Tweets: {{ account.tweets }}-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="column-header">Tweet Text</th>
                <th class="column-header">Date/Time Tweeted</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tweet in account.tweets">
                <td> {{ tweet.messageText }}</td>
                <td> {{ tweet.dateCreated }}</td>
            </tr>
        </tbody>
    </table>
<!--</div>-->