<!--<div>-->
<!--Auth Token: {{ auth.token }}-->
<!--</div>-->
<!--<div id="auth-account">-->
<!--Auth Account: {{ auth.account }}-->
<!--</div>-->
<!--<div>-->
<!--My Page?: {{ myDetail }}-->
<!--</div>-->
<!--<div id="follow-status">-->
<!--Am I Following?: {{ account.amIfollowing }}-->
<!--</div>-->
<!--<div id="user-name">-->
<!--User's Name: {{auth.account.displayName}}-->
<!--</div>-->
<!--<div id="user-email">-->
<!--User's Email: {{auth.account.emailAddress}}-->
<!--</div>-->
<!--<br/>-->

<!--<div data-ng-init="getAccount()">-->
<!--Account Details for {{ account.displayName }}-->
<!--</div>-->


<form id="login-form" data-ng-init="getAccount()">
    <div class="form-group">
        <h2 id="twtr-page-title">Twtr Page for @{{ account.handle }}</h2>
        <div>
            <following-status id="followingStatus"/>
        </div>

        <br/> <br/>
        <div class="control-group">
            <label for="userEmail" class="control-label">Email Address</label>
            <div class="controls">
                <input id="userEmail" class="form-control"
                       type="text" ng-model="account.emailAddress" ng-readonly="!myDetail" required/>
            </div>
        </div>

        <div class="control-group">
            <label for="userDisplayName" class="control-label">Display Name</label>
            <div class="controls">
                <input id="userDisplayName" class="form-control"
                       type="text" ng-model="account.displayName" ng-readonly="!myDetail" required/>
            </div>
        </div>
        <br/>
        <button id="save-account" class="btn btn-primary" ng-click="saveDetails()" type="submit"
                ng-disabled="!myDetail">Save Changes
        </button>
    </div>

    <div id="user-tweets" style="height: 150px; overflow: auto">
        <h2>Tweets by @{{ account.handle }}</h2>
        <table id="user-tweets-table" class="table table-striped">
            <thead>
            <tr>
                <th class="column-header">Tweet Text</th>
                <th class="column-header">Date/Time Tweeted</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tweet in account.tweets">
                <td id="td-feed-content"> {{ tweet.messageText }}</td>
                <td id="td-feed-date" type="date"> {{ tweet.dateCreated | date: 'MMM dd' }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br/>

    <div class="alert-danger" ng-show="getAccountError && getAccountError.length > 0">{{getAccountError}}</div>
    <div class="alert-danger" ng-show="getTweetsError && getTweetsError.length > 0">{{getTweetsError}}</div>
    <div class="alert-danger" ng-show="isFollowerError && isFollowerError.length > 0">{{isFollowerError}}</div>
    <div class="alert-danger" ng-show="getAuthAccountError && getAuthAccountError.length > 0">{{getAuthAccountError}}
    </div>
    <div class="alert-danger" ng-show="startFollowError && startFollowError.length > 0">{{startFollowError}}</div>
    <div class="alert-danger" ng-show="saveUserDetailsError && saveUserDetailsError.length > 0">
        {{saveUserDetailsError}}
    </div>

    <div id="feed-page-status" ng-show="pageStatus && pageStatus.length > 0">{{pageStatus}}</div>
    <br/>
</form>

<form id="tweet-form" name="tweetForm" ng-show="myDetail" data-ng-init="getAccount()" novalidate>

    <div class="form-group">
        <label>Tweet new message</label>
        <input id="message-to-post" type="text" name="messageContent" maxlength="40"
               ng-model="account.messageContent" required=""/>
        <uib-alert class="alert-danger" type="danger"
                   ng-show="tweetForm.messageContent.$error.required && (tweetForm.$submitted || tweetForm.messageContent.$touched)">
            Invalid message
        </uib-alert>
    </div>

    <button id="reset-button" type="button" ng-click="reset(tweetForm)" class="btn btn-primary">Reset</button>
    <button id="tweet-button" type="submit" ng-class="{'disabled': tweetForm.$invalid}" ng-click="tweetMessage()"
            ng-disabled="tweetForm.$invalid" name="tweet" class="btn btn-primary">Tweet
    </button>

    <div>
        <uib-alert id="tweet-post-alert" ng-repeat="alert in alerts" type="{{alert.type}}" ng-if="showAlert" close="closeAlert()"
                   dismiss-on-timeout="5000">{{alert.msg}}
        </uib-alert>
    </div>

    <!--<div id="tweet-message-status" class="alert-info" ng-show="messagePosted && messagePosted.length > 0">{{messagePosted}}</div>-->
    <!--<div id="tweet-message-error" class="alert-danger" ng-show="messagePostedError && messagePostedError.length > 0">{{messagePostedError}}</div>-->

    <br/>
    <br/>
    <div id="feed-page-status2" ng-show="pageStatus && pageStatus.length > 0">{{pageStatus}}</div>
    <br/>
</form>
